<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Temp</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <a href="/">Forside</a>
            <a href="/dokumentation"><b>Dokumentationsside</b></a>
        </div>
    </nav>
    <div class="container-row-full">
        <div class="container-col">
            <h1>Dokumentationsside</h1>
            <div>
                <p class="documentation-text">Denne side anvender de følgende teknologier:<br/>Python, Flask, sqlite3, HTML (Jinja), og CSS</p>
            </div>
        </div>
    </div>
</body>
</html>